
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

#nav{
    display: flex;
    justify-content: space-around !important;
}

.mobile-nav{
    border-right: 1px white solid !important;
}


#bg-menu{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222222;
}



li a {
    width: 25vw !important;
  display: block;
  color: white;
  border-right: 1px white solid !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  @media screen and (max-width: 650px) {
      margin-left: -24px !important;
  }
}

li a:hover{
    opacity: 0.8;
}


.active {
    color: #222222;
  background-color: #ffffff;
  margin-right: 180px !important;
}

.home-container{
    background-color: #222222;
}


.projects-container, .about-container, .contact-container{
    width: 100vw;
    height: 100vh;
    background-color: #222222;
}


.projects-container{
    text-align: center;
}

.project-title{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 25%;
}


/* ==============card-container============== */

.card-container{

    

    height: 400px;
    width: 400px;
    border: 1px white solid;
    display: inline-block;
    margin-top: 80px !important;
    margin: 24px;
    border-radius: 100%;

    &:hover{
        /*     box-shadow: 1px 1px 8px white !important; */
/*             transform: scale(1.05) !important; */
            transition: .4s !important;
            cursor: pointer !important;
/*             border-radius: 10% !important; */
            box-shadow: 1px 0px 48px white !important;
        }

    &:not(:hover){
        transition: .4s !important;
    }
}

    
.container-title{
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

    

.card-btn{
    margin-top: 3rem;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background: #222222;
    border: 1px white solid;
    color: white;
    
    &:hover{
/*         transform: scale(1.05) !important; */
        transition: .4s !important;
        cursor: pointer !important;
        background-color: white;
        color: #222222;
    }
    &:not(:hover){
        transition: .4s !important;
    }
}

/* == */

@media only screen and (max-width: 995px) {
    .card-container{
        height: 220px;
        width: 220px;
    }
}

@media screen and (max-width: 650px) {
    #txtwhite{
        margin: 16px 60px 0 60px !important;
        font-size: 12px !important;
    }

}


/* =========================================================== */

#show-project-btn{
    margin-top: 80px;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    color: white;
    border: 1px white solid;
    border-radius: 4px;
    background-color: #222222 !important;
    cursor: pointer;

}


/* Specific to about */

.about-content>p{
    width: 600px;
    margin: 15vh auto auto auto !important;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 24px;
    letter-spacing: 4px;
    &:hover{
        transition: .4s;
        
    }
    &:not(:hover){
        transition: .4s;
    }
    @media screen and (max-width: 650px) {
        margin-bottom: 30vh !important;
    }
}


@media screen and (max-width: 675px) {
    .about-content>p, .about-content{
        font-size: 22px !important;
        width: 70vw !important;

    }
}




/* ====end specific to about====*/

.projects-container{
    height: 1600px;
}

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
/*     border: 1px red solid; */
}


/* ====navigation===== */

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

button{
    outline: none !important;
}

html {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        scroll-behavior: smooth !important;  
}


/* ====== */

#navicon{
    display: none;
    width: 50px;
    height: 50px;
    float: right;
    cursor: pointer;
}



@media screen and (max-width: 720px) {
    body{
        background-color: #222222;
    }
    #navicon{
        display: block !important;
    }

  }




/*   footer */

#container{
    font-family: 'Roboto', sans-serif;
    font-weight:400 !important;
    width:100vw;
    color:white;
    background-color: #222222;
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 200px;
  }
  #contacts{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100%;
  }

  #contacts--contact{
    text-align: right;
  }

  #contacts_social{
    width:20vw;
    display : flex;
    justify-content : right;
  }



  .contacts_social--content {
    height:80px;
    width:80px;
    background-color:white;
    border-radius:100%;
    @media screen and (max-width: 650px) {
        width: 40px !important;
        height: 40px !important;
    }
  }

  #mentions p {
    font-size:1.5em;
  }

  #container-hr{
      width: 100vw;
      background-color: #fff;
      color: white;
      margin-bottom: 40px;
  }


#txtwhite{
    color:white;
    margin: 24px 60px 0 60px !important;
    font-family: 'Roboto', sans-serif;
}




/* =====================display_project-detail & hide button for mobile======================== */


.card-container .project-detail {
    visibility: hidden;
    background-color: #222222;
    color: #fff;
    @media screen and (max-width: 650px) {
        visibility: visible !important;
    }
  }

  .card-container:hover .project-detail {
    visibility: visible;
  }

  .card-container:active .project-detail {
    visibility: visible;
  }

@media screen and (max-width: 650px) {
    .project-title{
        margin-top: 16px !important;
    }
    .card-btn{
        display: none !important;
    }
}


a{
    text-decoration: none !important;
}

/* ============================================================================ */



.light{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95) 40%);
    @media screen and (max-width: 650px) {
        display: none !important;
    }
    }


/* =================contact form===================== */


#form{
text-align: center !important;

    .label-container{
        margin: 32px !important;

    }
    .label-title{
        color: white;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
    }
    input, textarea{
        margin-top: 5vh !important;
        width: 30vw !important;
    }
    .btnform{
        font-family: 'Rubik', sans-serif;
        background-color: #222222;
        color: white;
        border: 1px white solid;
        padding: 16px 32px 16px 32px;
        cursor: pointer;
        
        &:hover{
            color: #222222;
            background-color: white;
            transition: .3s;
        }

        &:not(:hover){
            transition: .3s;
        }
    }
}


/* ==========footer============= */

#contacts_social{
    filter: invert(1);
}

.linkedin_social--icon{
    background-image: url('./assets/img/linkedin.png');
    background-size: contain !important;
    width: 80px;
    height: 80px;
    margin-right: 32px;
    @media screen and (max-width: 750px) {
        margin: none !important;
        width: 30px;
        height: 30px;
        
    }
}

.github_social--icon{
    background-image: url('./assets/img/github.png');
    background-size: contain !important;
    width: 80px;
    height: 80px;

    @media screen and (max-width: 750px) {
        margin: 0 24px 0 0 !important;
        width: 30px;
        height: 30px;
    }
}





.container-effect {
    width: 100%;
    height: 54vh;
    background: #232323;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    .box {
      width: 250px;
      height: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 120px;
  
        .block {
          width: 0%;
          height: inherit;
          background: whitesmoke;
          position: absolute;
          animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          display: flex;
        }
  
        h1 {
          font-family: 'Poppins';
          color: #fff;
          font-size: 32px;
          -webkit-animation: mainFadeIn 2s forwards;
          -o-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.6s;
          opacity: 0;
          display: flex;
          align-items: baseline;
          position: relative;
  
          span {
            width:0px;
            height: 0px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
  
            background: whitesmoke;
            -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
            animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
            animation-delay: 2s;
            margin-left: 5px;
            margin-top: -10px;
            position: absolute;
            bottom: 13px;
            right: -12px;
  
          }
        }
      }
  
      .role {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        margin-top: -10px;
  
        .block {
          width: 0%;
          height: inherit;
          background: whitesmoke;
          position: absolute;
          animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          display: flex;
        }
  
        p {
          animation: secFadeIn 2s forwards;
          animation-delay: 3.2s;
          opacity: 0;
           font-weight: 400;
          font-family: 'Lato';
          color: #ffffff;
          font-size: 40px;
          text-transform: uppercase;
          letter-spacing: 5px;
        }
      }
    }
  }
  
  
  
  
  
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes secBlock {
    0% {
      width: 0%;
      left: 0;
  
    }
    50% {
      width: 100%;
      left: 0;
  
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #e9d856;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #e9d856;
      opacity: 1;
      bottom: 45px;
    }
     65% {
        width: 7px;
      height: 7px;
        bottom: 0px;
        width: 15px
     }
     80% {
        width: 10px;
      height: 10px;
        bottom: 20px
     }
    100% {
      width: 7px;
      height: 7px;
      background: #e9d856;
      border: 0px solid #222;
      bottom: 13px;
  
    }
  }
  
  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  
  
  
  

  
  @keyframes top {
    0% {
      opacity: 0;
       bottom: -80px
    }
    100% {
      opacity: 1;
       bottom: 0px
  
    }
  }
  
  @keyframes icon {
    0% {
      opacity: 0;
       transform: scale(0.0);
    }
     50% {
        opacity: 1;
       transform: scale(1.3) rotate(-02deg);
     }
    100% {
      opacity: 1;
       bottom: 0px;
    }
  }